html {

    background-color: #212529 !important;
 
}

h2 {

    color: #e9ecef !important;
    
}

a {

    color: #f8f9fa !important;

}

 a:hover{

    color: #adb5bd !important;

 } 

footer {
 
    font-size: larger;
    color: #CED4DA !important;
    margin-top: auto;
    max-height: 10px;
    background-color: #343a40 !important;

} 

 
body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

 
.container{

    width: 900px !important;

}

input{
     
    background-color: #e9ecef !important;
}